<% content_for :title, (t :About) %>
<% content_for :image, "/images/logo.png" %>
<% content_for :image_sq, "/images/logo_sq.png" %>

<h1><%= t :About%></h2>

<% if I18n.locale.to_s == 'fr' %>

<p>
    <b><%= Constants::SITE_NAME %></b> propose des articles sur les Troubles Obsessionnels Compulsifs (TOC) en français. Ces articles sont traduits depuis l'anglais et sont choisis en fonction de leur pertinence et de leur popularité.
</p>
<p>
    Les articles sur les TOC sur le web francophone sont rares, peu fournis et le plus souvent complètement obsolètes. A contrario, le web anglophone regorge de ressources de qualité. La traduction automatique n'est que rarement suffisante: les articles auto-générés comportent le plus souvent de nombreuses phrases incompréhensibles, et n'apportent au final que peu de clarté à un public qui a besoin de contenu de qualité.
</p>
<p>
    <%= Constants::SITE_NAME %> a pour mission de contribuer à rendre ce contenu accessible aux internautes francophones, en proposant des articles populaires, récents, et de qualité en français.
</p>

<% end %>

<h2><%= t :Contribute %></h2>

<% if I18n.locale.to_s == 'fr' %>

<p>
    <%= Constants::SITE_NAME %> est une organisation à but non lucratif, destinée à partager les connaissances sur les TOC. 
</p>
<p>
        <b>Votre aide peut directement impacter la qualité du site.</b>
</p>
<p>Il y a plusieurs façons dont vous pouvez contribuer à <%= Constants::SITE_NAME %> :
    <ul>
        <li><b>Faire une donation:</b> Votre donation sera utilisée pour faire réaliser des traductions d'articles sur les TOC par des traducteurs professionnels et étoffer le site. <a href="<%= Constants::DONATE_URL %>">Cliquez ici pour faire une donation</a></li>
        <li><b>Traduire de nouveaux articles:</b> Vous êtes bilingue français/anglais ? Traduisez des articles sur les TOC et nous les publieront sur <%= Constants::SITE_NAME %>.</li>
        <li><b>Suggérer des améliorations:</b> de contenu, ou de formulation, ou suggérer de nouveaux articles à traduire.</li>
    </ul>
</p>
<p>
    Vous pouvez envoyer vos contributions (traductions, suggestions de nouveaux articles, améliorations de contenu) via <a href="<%= Constants::GITHUB_CONTRIBUTE_URL %>">le projet Planet OCD sur GitHub</a> ou <a href="mailto:<%= Constants::EMAIL%>">directement par email</a>.
</p>

<% end %>