<% content_for :title, "Planet OCD - " + (t :Articles_about_OCD) %>

<h1><%= t :Recent_articles%></h2>

<section class="articles-list">
    <% Rails.application.articles[params[:locale]].each do |key, article| %>
        <article class="uk-card uk-card-default">
            <div class="uk-card-body">
                <a class="uk-link-heading" href="<%= article_url(article) %>">
                    <h3 class="uk-card-title"><%= article.title %></h3>
                </a>
                <%= article.content_html_short %>
            </div>
            <div class="uk-card-footer">
                <a href="<%= article_url(article) %>" class="uk-button uk-button-text">Read more</a>
            </div>
        </article>
    <% end %>
</section>
