<% article = params[:article] %>
<% content_for :title, article.title %>

<a class="uk-button uk-button-text" href="<%=articles_url%>">&#171; <%= t :All_articles %></a>

<article class="uk-article article">
    <h1 class="uk-article-title"><%= article.title %></h1>

    <p class="uk-article-meta">
        <label><%= t :Original_article %>: </label>
        <a href="<%=article.original_url%>" target="_blank"><%=article.original_title%></a>
        by <em><%=article.original_author%></em>
        on <a href="<%=article.original_url_scheme_and_host%>" target="_blank"><%=article.original_url_host%></a>
    </p>

    <section><%= article.content_html %></section>

    <% if article.public_notes_html %>
    <section class="article-translator-notes uk-article-meta">
        <b><%= t :Translator_notes %>:</b>
        <%=article.public_notes_html%>
    </section>
    <% end %>

    <section class="uk-grid-small uk-child-width-auto">
        <a href="#header" class="uk-button uk-button-text">&#8963;<%= t :Back_to_top %></a>
        <a class="uk-button uk-button-text uk-align-right" href="<%=articles_url%>">&#171; <%= t :All_articles %></a>
    </section>

</article>
