<header class="site-header" uk-sticky="media: 640">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar layout-width">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img class="uk-margin-small-right" src="/logo.svg"/ width="90" title="<%= Constants::SITE_NAME %>" alt="<%= Constants::SITE_NAME %>">
                </a>
            </div>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav uk-visible@s">
                    <li class="uk-active"><%= link_to(t('Home'), :controller => 'articles', :action => 'index') %></li>
                    <li><%= link_to(t('About'), :controller => 'static_pages', :action => 'about') %></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <div class="uk-navbar-item uk-visible@s">
                    <a href="<%= Constants::GITHUB %>" class="uk-icon" uk-icon="github"></a>
                </div>
                <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@s uk-navbar-toggle-icon uk-icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>
                </a>
            </div>
        </nav>
    </div>
</header>