<header class="site-header" uk-sticky="media: 640">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar layout-width">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img class="uk-margin-small-right" src="/logo.svg"/ width="90" title="<%= Constants::SITE_NAME %>" alt="<%= Constants::SITE_NAME %>">
                </a>
            </div>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav uk-visible@s">
                    <%= active_link_to t('Home'), articles_url, wrap_tag: :li, class_active: 'uk-active' %>
                    <%= active_link_to t('About'), about_url, wrap_tag: :li, class_active: 'uk-active' %>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <div class="uk-navbar-item uk-visible@s">
                    <a href="<%= Constants::GITHUB %>" class="uk-icon" uk-icon="github"></a>
                </div>
                <div class="uk-button">
                    <span class="uk-margin-small-right">Menu</span>
                    <span uk-navbar-toggle-icon></span> 
                </div>
                <div uk-dropdown>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><%= link_to t('Home'), articles_url %></li>
                        <li class="uk-active"><%= link_to t('About'), about_url %></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>