<header id="header" class="site-header" uk-sticky="media: 640">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar layout-width">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href=<%=root_path%>>
                    <img class="uk-margin-small-right" src="/images/logo.svg">" width="90" title="<%= Constants::SITE_NAME %>" alt="<%= Constants::SITE_NAME %>">
                </a>
            </div>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav uk-visible@s">
                    <%= active_link_to t('Articles'), root_path, active: :exclusive, wrap_tag: :li, class_active: 'uk-active' %>
                    <%= active_link_to t('About'), about_url, active: :exclusive, wrap_tag: :li, class_active: 'uk-active' %>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <div class="uk-navbar-item uk-visible@s">
                    <a href="<%= Constants::FACEBOOK_URL %>" class="uk-icon uk-margin-small-right" uk-icon="facebook"></a>
                    <a href="<%= Constants::TWITTER_URL %>" class="uk-icon uk-margin-small-right" uk-icon="twitter"></a>
                    <a href="<%= Constants::GITHUB_URL %>" class="uk-icon" uk-icon="github"></a>
                </div>
                <div class="uk-button uk-hidden@s">
                    <span class="uk-margin-small-right">Menu</span>
                    <span uk-navbar-toggle-icon></span>
                </div>
                <div uk-dropdown>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><%= link_to t('Home'), root_path %></li>
                        <li class="uk-active"><%= link_to t('About'), about_url %></li>
                        <li class="uk-active uk-margin-top uk-child-width-expand uk-text-center" uk-grid>
                            <div><a href="<%= Constants::FACEBOOK_URL %>" class="uk-icon" uk-icon="facebook"></a></div>
                            <div><a href="<%= Constants::TWITTER_URL %>" class="uk-icon" uk-icon="twitter"></a></div>
                            <div><a href="<%= Constants::GITHUB_URL %>" class="uk-icon" uk-icon="github"></a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
