<h2>Likes</h2>

 <section>
    <% @likes.each do |like|
        article_lang = like[:language]
        article_id = like[:article_id]
        like_ip = like[:ip_address]
        article = Rails.application.articles[article_lang][article_id]
        %>
        <article class="uk-card uk-card-default uk-card-small">
            <div class="uk-card-header">
                <div class="uk-flex uk-flex-between">
                    <a 
                        href="https://ipinfo.io/<%= like_ip %>/json"
                        title="<%=h like[:user_agent]%>">
                        <%=like_ip%>
                    </a>
                    <span>
                        <%= like[:created_at] %>
                    </span>
                </div>
            </div>
            <div class="uk-card-body">
                <span>
                    <%=article.title%>
                    (<%= article_lang %>/<%= article_id %>)
                </span>
            </div>
        </article>
    <% end %>
</section> 
