<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <% if Rails.env.production? %>
      <%= render "gtag.html.erb" %>
    <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>

    <title>Planet OCD</title>
  </head>

  <body>
    <%= render "header.erb" %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render "footer.erb" %>
  </body>
</html>
