<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <%= render "gtag.html.erb" %>
    <% end %>
    <title>Planet OCD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
