<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <% if Rails.env.production? %>
      <%= render "partials/gtag.html.erb" %>
    <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% meta_description = yield :meta_description %>
    <% if meta_description != '' %>
    <meta name="description" content="<%=meta_description %>">
    <%end%>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= yield :title %><% if controller_name != 'application' || action_name != 'index' %> - <%= Constants::SITE_NAME %><% end %></title>
  </head>

  <body>
    <%= render "partials/header.erb" %>
    <div class="site-content">
      <%= yield %>
    </div>
    <%= render "partials/footer.erb" %>
  </body>
</html>
